
            h1{
                color:blue
            }

            table{
                color: aqua;
            }

            tr{ 
                color: blueviolet;
            }

            td{
                color: bisque;
            }

