 body{
                background-color: rgb(9, 255, 0);
            }

            h1{
                color: rgb(214, 6, 6);
            }

            h2{
                color: rgb(19, 31, 202);
            }

            h3{
                color: rgb(74, 19, 105);
            }

            h4{
                color: rgb(41, 4, 4);
            }

            p{
                color: rgb(13, 121, 163);
            }
