*{
    box-sizing: border-box;
}
body{
    margin: 0%;
}
header{
    background-color: hsl(195, 100%, 50%);
    text-align: center;
    padding: 20px;
}
.navbar{
    background-color: cyan;
    height: 50px;
    
}
aside{
    width: 30%;
    float: left;
    padding: 10px;
}
section{
    width: 40% ;
    float: left;
    padding: 10px;
}
article{
    border: 2px solid;
    width: 30%;
    float: left;
    padding: 10px;
}
footer{
    display: block;
    clear: both;
    background-color: rgb(71, 148, 148);
    text-align: center;
    padding: 25px;
}
@media screen and (max-width: 600px) {
    aside, section, article{
        width: 100%;
    }
}
